################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EWSApi/FileContentIndex/b8315f59-15fb-40c0-82a1-5d6f23c194d0.vsidx
/.vs/EWSApi/FileContentIndex/fae43fcc-de38-46b4-a591-5c7718256935.vsidx
